<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="shortcut icon" href="../../assets/logo-removebg.png" type="image/x-icon">


     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../container/container.css">
    <link rel="stylesheet" href="cadastro-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title>Trucker App</title>
</head>
<body>
    <div class="container">
        <img class="background"  src="../../assets/Vector.png" alt="">
        <header class="header">
            <img class="img-fluid"  src="../../assets/logo-removebg.png" alt="Logo">
            <h1>Trucker App</h1>
        </header>

        <div class="form">
            <form>
                <div class="input-group">
                    <input class="form-control" type="text" id="email" placeholder="E-mail">
                </div>
                <div class="alert emailValidationAlert">
                    Email inválido
                </div>
                <div class="input-group">
                    <input class="form-control" id="senha" type="text" placeholder="Senha">
                </div>
                <div class="alert espacoValidationAlert">
                    Não é permitido inserir <b>Espaço</b> na senha
                </div>
                <div class="alert minusculaValidationAlert">
                    A senha deve conter no mínimo uma letra <b>Minúscula</b>
                </div>
                <div class="alert maiusculaValidationAlert">
                    A senha deve conter no mínimo uma letra <b>Maiúscula</b>
                </div>
                <div class="alert numeroValidationAlert">
                    A senha deve conter no mínimo um <b>Número</b>
                </div>
                <div class="alert especialValidationAlert">
                    A senha deve conter no mínimo um caracter <b>especial</b>
                </div>
                <div class="alert tamanhoValidationAlert">
                    A senha não pode ser menor que <b>8</b> caracteres
                </div>

                <div class="input-group">
                    <input class="form-control" id="confirmSenha" type="text" placeholder="Confirmar senha">
                </div>
                <div class="alert confirmPassword">
                    As senhas não conferem
                </div>

                <div class="btn-group" role="group">
                    <a href="../menu/menu-inicial.html">
                        <button type="button" class="btn btn-primary">Cadastrar conta</button>
                    </a>
                </div>
                    
                <div class="btn-group" role="group">
                    <a href="../../index.html">
                        <button type="button" class="btn btn-danger">Voltar</button>
                    </a>  
                </div>
            </form>
        </div>
    </div>
    <script src="create-account.js"></script>
</body>
</html>