.container {
    display: block;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 2rem;
}


header .title {
    font-size: 14pt;
    font-weight: 700;
}

header button {
    border: none;
    background-color: white;
}

header button a {
    color: black;
}

header button a:hover {
    color: black;
}

header button a svg {
    color: black;
    width: 30px;
}

header button a svg:hover {
    color: blue;
}

.img-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1rem;
}

#carouselExampleControls {
    margin-bottom: 2rem;
}

#carouselExampleControls img,
.img-container img {
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    width: 90vw;
    height: 250px;
}

#carouselExampleControls a span:nth-child(1) {
    background-color: black;
}


.info {
    margin: 0px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-header button {
    border: none;
    background-color: white;
    width: 24px;
    height: 24px;  
    padding: 0px;
}

.info-header img {
    width: 100%;
    height: 100%;
}

.info-header .title-container h1 {
    font-size: 2rem;
}

.info-header .title-container h4 {
    font-size: 1rem;
}

.info-footer .estabelecimentos {
    display: flex;
    flex-direction: row;
}

.estabelecimentos .item {
    background-color: #3879cf31;
    padding: 10px;
    border-radius: 14px;
    margin-right: 10px;
}

.info-footer button {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-footer button img {
    border-color: white;
}

#map { 
    height: 50vh; 
}

#map {
    width: 100%;
    height: 90vh;
    display: none;
}