.container {
    border: 1px solid black;
    max-width: 360px;
    margin-top: 10px;
    min-height: 95vh;

    /* overflow-y: scroll;
    overflow-x: hidden; */

    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 16pt;
    font-weight: 700;
}


header button {
    border: none;
    background-color: white;
}

header button a {
    color: black;
}

header button a:hover {
    color: black;
}

.table-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.table-container h2 {
    text-align: center;
}

.table-container span {
    text-align: center;
}

table {
    font-size: 10pt;
    text-align: center;
    width: 30px;
}

table tbody tr {
    vertical-align: middle;
}

table tbody tr:hover {
    background-color: rgba(167, 157, 157, 0.425);
    cursor: pointer;
}

table tr > * {
    border: black 1px 1px solid;
}

button.btn-danger {
    display: none;
}


#modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    color: black;

    display: none;

    box-shadow: 0px 20px 20px black;
}

#modal header {
    height: 0px;
    margin-bottom: 2rem;
}

#modal header button {
    border: none;
}


#modal form .input-group {
    margin-bottom: 1rem;
}

#modal form .input-group label {
    font-weight: 700;
}

#modal form input {
    width: 100%;
}

#modal form button {
    margin-top: 2rem;
}