.container {
    border: 1px solid black;
    max-width: 360px;
    margin-top: 10px;

    min-height: 95vh;
    
    display: flex;
    flex-direction: column;
    position: relative;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title svg {
    width: 30px;
    margin-right: 10px;
}

.header-title h1 {
    font-size: 14pt;
    font-weight: 700;
}


header button {
    border: none;
    background-color: white;
}

header button a {
    color: black;
}

header button a:hover {
    color: black;
}

ul li {
    list-style-type: none;
}

.estabelecimentos {
    padding: 0;
}

.estabelecimentos .item {
    background-color: #3879cf31;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.estabelecimentos .item:hover {
    cursor: pointer;
    background-color: #4a82cc67;

}

.info button {
    margin-bottom: 1rem;
}

#modal {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 95vh;
    width: auto;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    color: black;

    display: none;

    box-shadow: 0px 4px 20px black;
}

#modal header {
    height: 0px;
    margin-bottom: 2rem;
}

#modal header button {
    border: none;
}

#modal form .input-group {
    margin-bottom: 1rem;
}

#modal form .input-group label {
    font-weight: 700;
}

#modal form input {
    width: 100%;
}

#modal form button {
    margin-top: 2rem;
}
