.container {
    border: 1px solid black;
    max-width: 360px;
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 14pt;
    font-weight: 700;
}

header button {
    border: none;
    background-color: white;
}

header button a {
    color: black;
}

header button a:hover {
    color: black;
}

ul li {
    list-style-type: none;
}

.estabelecimentos {
    padding: 0;
}

.estabelecimentos .item {
    background-color: #3879cf31;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.estabelecimentos .item:hover {
    cursor: pointer;
    background-color: #4a82cc67;

}

.info button {
    margin-bottom: 1rem;
}