.container {
    border: 1px solid black;
    max-width: 360px;
    margin-top: 10px;
    height: 95vh;
    overflow-y: scroll;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1rem;
}

header h1 {
    font-size: 16pt;
    font-weight: 700;
}


header button {
    border: none;
    background-color: white;
}

header button a {
    color: black;
}

header button a:hover {
    color: black;
}

.table-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.table-container h2 {
    text-align: center;
}

.table-container span {
    text-align: center;
}

table {
    font-size: 10pt;
    text-align: center;
    width: 30px;
}

table tbody tr {
    vertical-align: middle;
}

table tbody tr:hover {
    background-color: rgba(167, 157, 157, 0.425);
    cursor: pointer;
}

table tr > * {
    border: black 1px 1px solid;
}