:root {
    --initial-width: 360px;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width:  var(--initial-width);
    height: 640px;

    background-color: #C4C4C4;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 6px;

    position: relative;
}

.header {
    display: flex;
    background-color: #EEF7FE;
    padding: 20px;

    justify-content: space-around;
    align-items: center;

    border-bottom-right-radius: 70px;
}

.header h1 {
    font-style: italic;
    font-weight: 700;  
}

.header img {
    width: 64px;
    height: 76px;
    object-fit: fill;
    margin-top: 10px;

}

nav ul {
    padding-left: 20px;
}

nav ul li {
    list-style-type: none;
    margin-top: 20px;
}

nav a {
    /* text-decoration: none; */
    color: black;
    font-weight: 700;    
}

.logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #C4C4C4;

    outline: none;
    border: none;
}

.logout :hover {
    cursor: pointer;
}

.logout img {
    width: 20px;
    margin-right: 10px;
}

footer {
    font-size: 9pt;
    font-weight: 300;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 10%;

    padding: 20px;
}