:root {
    --initial-width: 360px;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width:  var(--initial-width);
    min-height: 95vh;

    /* background-color: #ffffff; */
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    border: 1px solid black;
    /* border-radius: 6px; */

    position: relative;

    padding: 0;

    margin-top: 10px;
}

.header {
    display: flex;
    background-color: #EEF7FE;
    padding: 20px;

    justify-content: space-around;
    align-items: center;

    border-bottom-right-radius: 70px;

    width: 100%;
}

.header h1 {
    font-style: italic;
    font-weight: 700;  
}

.title {
    margin-bottom: 4rem;
    padding: 0;
    text-align: center;
    color: black;
}

.title svg {
    width: 30px;
}

nav {
    margin-top: 2rem;
}

nav ul li {
    list-style-type: none;
    /* margin-top: 20px; */
    display: flex;
}

li svg {
    width: 30px;
}

nav ul li a {
    color: black;
    font-weight: 700;    
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;

    font-size: 11pt;

    position: absolute;
    bottom: 60px;
}

.logout .version {
    font-size: 8pt;
}

.logoutButton {
    outline: none;
    border: none;
    background-color: #ffffff;
}

.logoutButton:hover {
    cursor: pointer;
    color: #0d6efd;
}

.logoutButton svg {
    width: 30px;
}
